.inner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.default {
    padding: 100px 0;
}

.default .title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
    padding: 0 15px;

    text-align: left;
}

.default .title h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 8px 0;
    line-height: 36px;
}

.default .title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.more_btn {
    padding: 16px 48px;

    border: none;
    background: #fff;

    border: 1px solid #202123;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    color: #202123;
    cursor: pointer;
}

.more_btn:hover {
    background: #202123;
    color: #fff;
}

.cart_btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart_btn button {
    padding: 1.2rem;
    margin: 0 0.1rem;

    width: 6rem;
    height: 6rem;

    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    cursor: pointer;
}

.cart_btn button:hover {
    background: rgba(255, 255, 255, 1);
}